<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php">
  <testsuite name="tests">
    <directory>src/test/php</directory>
  </testsuite>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/main/php</directory>
    </include>
  </coverage>
</phpunit>